.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.titleImage {
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cityCard {
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s;

  width: 550px;
  height: 291px;
}

.cityCard:hover {
  transform: scale(1.05);
}

.cityImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cityName {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
